<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #d7ecff;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        h1 {
            font-family: 'Disney', cursive;
            font-size: 3rem;
            color: #0e6ba8;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <img src="https://th.bing.com/th/id/R.67de140336f9d5af78a5498ae212e752?rik=cMPRSrOeUPHYbg&riu=http%3a%2f%2f2.bp.blogspot.com%2f-CwafB_DlXTQ%2fTdMjIMhQW5I%2fAAAAAAAAFcQ%2fYLE3clPzo88%2fs1600%2fRatatouille.png&ehk=WXQaEZuF%2fsd1HKSuUsbM49cjCOxpwowsGuxD6Mc0XFs%3d&risl=&pid=ImgRaw&r=0"
        height="500">
    <h1>Oops! {{error_message}}!</h1>

    <div class="button-container">
        <a href="{{ url_for('hello') }}">Return to home page</a>
    </div>
</body>

</html>