<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Please Choose Your Recipe</title>
</head>

<body>
    <p>With {{input}}, you can choose from recipes below:</p>

    <form action="/recipe_info" method="post">
        {% for recipe in result %}
        <button type="submit" name="ChosenRecipe" value="{{ recipe }}">{{ recipe }}</button>
        <br>
        {% endfor %}
        <input type="hidden" name="ingredients" value="{{ input }}">
    </form>

</body>

</html>