<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Generator</title>
</head>

<body>

    <h1>Hi, please input ingredients you have on hand and we will generate a list of recipes for you to choose!</h1>

    <form action="/recipe" method="post">
        <label for="ingredients">Enter ingredients you have:</label>
        <input type="text" name="ingredients">
        <button type="submit">Submit</button>
    </form>

</body>

</html>